body{
    font-family:'Caudex', serif;
    /* Backgorund settings */
    background-image:url(Imagenes\ 2/fondomarmol.jpg);
    /* Esto es para el efecto de que se mueve */
    position: relative;
    background-size: cover;
    background-attachment: fixed;

}
/* Menu de inicio parte de arriba */
header{
    background-color: #f9fafa;
/* Borde del cuadro grande de navegacion */
    border: #16171a;
    border-style: solid;
    border-width: 2px;
   
}

nav{
/* Centro el menu de navegacion */
    text-align: center;
    padding: auto;  
}
nav>a{
/* Edito cada cuadrito de texto de navegacion */
    color: #16171a;
    font-size: 20px;
/* Con este le quito lo subrayado */
    text-decoration: none;
/* Agrego borde a cada cuadrito */
    border: #16171a;
    border-style: solid;
    border-bottom: transparent;
/* Lo centro */
    padding: 0px 106px;
    
/* Hover es cuando pasas el click encima del cuadrito */
}
nav>:hover{
    background-color: #16171a;
    color: #f9fafa;
    font-size: 20px;
    
}
/* Pagina de inicio */
.Descripcion{
/* Alineo el texto con la caja */
    text-align: center;
    padding: 20px;
    margin: auto;
/* Tamano de la caja y el maximo de ancho que quiero */
    width: 100%;
    max-width: 1000px;
/* Overflow para que lo que no quepa solo se oculte */
    overflow: hidden;
/* Alineo l */
    align-items: center;
    
}
/* Arreglo el tamano de la imagen */
.Imagenprincipal{
    height: 30%;
    width: 30%;
}



.Recomendaciones{
    /* Arreglo el tamano, los margenes */
    padding: 8px 0;
    margin: auto;
    width: 100%;
    max-width: 3000px;
    overflow: hidden;
    
   
}
.Trabajos{
    padding: 10px 0;
    margin: auto;
    width: 10000px;
    max-width: 30000px;
    overflow: hidden;
    
}
/* Hice contenedores para agregarle el color a cada uno */
.Contenedores{
    padding: 5px 0;
    background-color: #f9fafa;
    color:#16171a;
}
.Contenedores2{
    padding: 3px 0;
    background-color: #16171a;
    color: #f9fafa; 
    
}
.Titulo2{
    text-align: center;
    font-size: 30px;
}
.Titulo{
    text-align: center;
    font-size: 40px;
}
/* Hago una cajita para cada recomendacion */
.caja1{
    max-width: 1000px;
/* Margin para separarlas */
    margin-bottom: 10px;
    margin-left: 300px;
    padding: 3px;
    background-color: #f9fafa;
    text-align: right;
    color: #16171a;
}
/* Hago las cajitas de mi trabajo y les pongo borde */
.box1{
    border-style: solid;
    border-color: #16171a;
    border-width: 2px;
    margin: 5px;
    padding: 3px;
}

.Contacto{
    text-align: center;
   
    padding: 3px 0;
    background-color: #16171a;
    color: #f9fafa;
    width: 100%;
    margin-block-start: 50px;
    font-size: large;
}
/* Contact page */
.Info{
    text-align: center;

    padding: 3px 0;
    background-color: #f9fafa;
    color: #16171a;
    width: 100%;
    /* Le agrego un margen q se acopla a otros elementos */
    margin-block-start: 50px;
    /* Hago que el contenido se ajuste al tamano */
    object-fit: contain
}
/* Ajusto las cajitas de los inputs */
label{
    display: inline-block;
    width: 100px;
}
/* Ajusto el tamno de las imagenes en general */
img{
    height: 25%;
    width: 25%;
    object-fit: contain;
}
/* Ajusto el tamano de la imagen del circulo */
.circleimage{
    height: 18%;
    width: 18%;

}
.A{
    float: left;
    padding: 5px;
    background-color: #16171a;
    width: 650px;
    color: #f9fafa;
    border: #f9fafa;
    border-spacing: 2px;
    border-style: solid;
    
}

.B{
    float: right;
    padding: 5px;
    background-color: whitesmoke;
    width: 650px;
    color: #16171a;
    border: #16171a;
    border-style: solid;  
    margin-bottom: 10px;
}
.Formacion{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #16171a;
    opacity: 0.9;
    text-align: center;
    padding: 5px;
    clear: both;
    color: #f9fafa;
}
.left{
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 640px;
    background-color: #f9fafa;
    color: #16171a;
    text-align: center;
    padding: 5px;
    border-style: solid;
   
}
.rigth{
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 640px;
    background-color: #f9fafa;
    color: #16171a;
    text-align: center;
    padding: 5px;
    border-style: solid;
}
.Aficiones{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #16171a;
    opacity: 0.9;
    text-align: center;
    padding: 5px;
    clear: both;
    color: #f9fafa;
}
.Form{
    height: 20%;
    width: 20%;
    
}
.logo{
    height: 50%;
    width: 50%;
    object-fit: contain;
}